In [1]:
import pandas as pd
from jupyter_datatables import init_datatables_mode
import matplotlib as plt
from tqdm.notebook import tqdm

#init_datatables_mode()

#print(pd.options.display.max_rows)

#col = ['UF', 'NOME MUNICÍPIO', 'NOME FAVORECIDO', 'VALOR PARCELA']
colunas_selecionadas_bolsa_familia = ['UF','NOME MUNICÍPIO','VALOR PARCELA']

#tqdm.pandas()

df = pd.read_csv('/root/datasets/202306_NovoBolsaFamilia.csv',
                 delimiter=';',
                 encoding = 'ISO-8859-1',
                 nrows=100000,
                 usecols=colunas_selecionadas_bolsa_familia
                 )
df

       UF       NOME MUNICÍPIO VALOR PARCELA
0      AC           ACRELANDIA        850,00
1      AC           ACRELANDIA        600,00
2      AC           ACRELANDIA        750,00
3      AC           ACRELANDIA        600,00
4      AC           ACRELANDIA        700,00
...    ..                  ...           ...
99995  AC  SANTA ROSA DO PURUS       1202,00
99996  AC  SANTA ROSA DO PURUS       1536,00
99997  AC  SANTA ROSA DO PURUS        776,00
99998  AC  SANTA ROSA DO PURUS       1636,00
99999  AC  SANTA ROSA DO PURUS       1394,00

[100000 rows x 3 columns]

In [2]:
# troca , por . 
# troca ,00 por '' 
df['VALOR PARCELA'] = df['VALOR PARCELA'].str.replace(',00', '')


# convert points column from object to float
df['VALOR PARCELA'] = df['VALOR PARCELA'].astype(int)

df

       UF       NOME MUNICÍPIO  VALOR PARCELA
0      AC           ACRELANDIA            850
1      AC           ACRELANDIA            600
2      AC           ACRELANDIA            750
3      AC           ACRELANDIA            600
4      AC           ACRELANDIA            700
...    ..                  ...            ...
99995  AC  SANTA ROSA DO PURUS           1202
99996  AC  SANTA ROSA DO PURUS           1536
99997  AC  SANTA ROSA DO PURUS            776
99998  AC  SANTA ROSA DO PURUS           1636
99999  AC  SANTA ROSA DO PURUS           1394

[100000 rows x 3 columns]

In [3]:
# col_municipio=df['NOME MUNICÍPIO']
# col_municipio.value_counts()

tqdm.pandas()
#tqdm.pandas(bar_format='{l_bar}{bar:20}{r_bar}{bar:-20b}')

# Quantidade de Pagamentos em cada cidade e ordena pelo indice
municipio_qde=df['NOME MUNICÍPIO'].value_counts().sort_index().progress_apply(lambda x: x**2)
municipio_qde.head()

# Valor dos Pagamentos em cada cidade e ordenação decrescente pelo valor
municipio_valor=df.groupby(['NOME MUNICÍPIO']).sum().sort_values('VALOR PARCELA', ascending=False).progress_apply(lambda x: x**2)
municipio_valor.head()

  0%|          | 0/18 [00:00<?, ?it/s]

2023-09-15 15:00:06,316 [794] WARNING  py.warnings:109: [JupyterRequire] /tmp/ipykernel_794/3843458750.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  municipio_valor=df.groupby(['NOME MUNICÍPIO']).sum().sort_values('VALOR PARCELA', ascending=False).progress_apply(lambda x: x**2)

  0%|          | 0/1 [00:00<?, ?it/s]

                        VALOR PARCELA
NOME MUNICÍPIO
RIO BRANCO            847856584572529
CRUZEIRO DO SUL       102878907269776
FEIJO                  20292610391824
BRASILEIA              10902616251921
MARECHAL THAUMATURGO   10039899216400

In [19]:
df.describe()

       VALOR PARCELA
count  100000.000000
mean      731.655560
std       217.943897
min       180.000000
25%       600.000000
50%       700.000000
75%       800.000000
max      2746.000000

In [6]:
df.plot(kind='hist')

In [10]:
df.boxplot()

In [9]:
# https://www.kdnuggets.com/2022/09/progress-bars-python-tqdm-fun-profit.html

from time import sleep
from tqdm.notebook import trange

for i in trange(10, desc='Traning Model on 10 Epochs'):
    sleep(0.01)
    for x in trange(100, desc=f'Epoch {i}'):
        sleep(0.001)

Traning Model on 10 Epochs:   0%|          | 0/10 [00:00<?, ?it/s]

Epoch 0:   0%|          | 0/100 [00:00<?, ?it/s]

Epoch 1:   0%|          | 0/100 [00:00<?, ?it/s]

Epoch 2:   0%|          | 0/100 [00:00<?, ?it/s]

Epoch 3:   0%|          | 0/100 [00:00<?, ?it/s]

Epoch 4:   0%|          | 0/100 [00:00<?, ?it/s]

Epoch 5:   0%|          | 0/100 [00:00<?, ?it/s]

Epoch 6:   0%|          | 0/100 [00:00<?, ?it/s]

Epoch 7:   0%|          | 0/100 [00:00<?, ?it/s]

Epoch 8:   0%|          | 0/100 [00:00<?, ?it/s]

Epoch 9:   0%|          | 0/100 [00:00<?, ?it/s]